/* Header Style Starting */

header{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    margin-bottom: 70px;
    padding-top: 30px;
}   
.nav-elements{
    margin-left: 156px;
}
.buttons{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 30px;
}
.name{
    margin-top: 100px;
    font-weight: bold;
    font-size: 64px;
    color: white;
    margin-left: 156px;   
}

.half-width{
    width: 50%;
    display: flex;
}
.link{
    color: white;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    margin-left: 156px;
    padding: 10px 24px;
    
}
.login{
    margin-left: 500px;
    color: white;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px;
}

#banner{
    width: 600px;
    height: 450px;
    left: 1299.01px;
    top: 153px;
    padding-left: 100px;
}
#banner:hover{

    transform: rotate(30deg) scale(1);
    transition-duration: 5s;
}







/* Body style */
body{
    font-family: 'Poppins', sans-serif;
    
}

/* Players style */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 180px;
    margin-right: 210px;
    width: 1050px;
   
}
.player{
    width: 330px;
    background-color: white;
    margin-top: 27px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    align-items: center;
    padding-left: 15px;
    padding-top: 15px;
}
.about-player{
    padding-top: 15px;
    padding-left: 15px;
}
.player p{
    font-weight: 400;
    color: #6C6C6C;
}

/* Highlights Style */
 
.match img{
    width: 567px;
    height: 427px;
    padding-right: 156px;
    padding-left: 69px;
    margin-top: 165px;
}
.highlights{
    display: flex;
}
.details{
    padding-left: 182px;
    margin-top: 224px;
}
.details p{
    color: #6C6C6C;
}
.details-link{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
}

/* Extra Part Style */

.fixture{
    padding-left: 100px;
}

.list{
    border: 10px solid rgb(85, 84, 84);
    border-radius: 5px;
    width: 600px;
    height: 300px;
    margin-left: 100px;
    margin-top: 0;
    padding-top: 20px;
    font-size: 20px;
    overflow-y: scroll;
    color: rgb(85, 84, 84);


}
.extra{
    display: flex;
}
.youtube{
    padding-left: 95px;
}


/* Pre-Footer Style */

.logo img{
    margin-left: 475px;
    margin-right: 481px;
    margin-top: 158px;
}
.icons{
    margin-left: 680px;
    display: inline;
    color: #969BAB;
}
.fa-instagram{
    background-color: #d5d8df;
    padding: 5px;
    border-radius: 50%;
}
.fa-dribbble{
    background-color: #d5d8df;
    padding: 5px;
    border-radius: 50%;
}
.fa-twitter{
    background-color: #d5d8df;
    padding: 5px;
    border-radius: 50%;
}
.fa-youtube{
    background-color: #d5d8df;
    padding: 5px;
    border-radius: 50%;
}

/* Footer style */
footer p{
    margin-left: 632px;
    margin-right: 638px;
}



@media screen and (max-width:700px) {

    header{
        width: 1500px;
        height: 1500px;
    }
    header img{ 
        margin-top: 700px;
        padding-right: 700px;
    
        
    }
    header .name{
        height: 400px;
    }
    
    .players{
        display: block;
        justify-content: center;
    
    }
    .player{
        width: 100%; 
        margin: 0;
        
        
    }
    .player img{
        width: 90%;
        height: 800px;
        padding-left: 50px;
        padding-top: 50px;
    
    }
    .about-player{
        font-size: 50px;
    }
    .highlights{
        display: block;
        width: 100%;
    }
    .extra{
        display: block;
    }
    .details{
        width: 1050px;
        font-size: 50px;
    }
    .match img{
        width: 1050px;
        height: 800px;
        margin-left: 100px;
    }
    .icons{
        display: flex;
    }
    footer p{
        display: inline-flex;
    }
    .list{
        width: 900px;
        height: 400px;
        margin-left: 185px;
        font-size: 50px;
        padding-left: 100px;
        background-color: rgba(172, 255, 47, 0.5);
    }
    .youtube{

        width: 1000px;
        height: 400px;
        margin-left: 350px;    

    }

    
}
